body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.clock{
  padding-right: 20px;
  font-size: 200%;
}

.countdownText{
  font-size: 200%;
}
.countdown{
  font-size: 400%;
}

/*POCASI - KARTY*/
img{
  padding-top: 20px;
  height: 120px;
}
.weather-parameters {
  display: inline-block;
}
.weather-parameters-humidity{

}
.weather-parameters-wind{
  padding-right: 20px;
}
