body{
  font-family: 'Roboto', sans-serif;
  margin: 0%;
}

header{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin: 0%;
  background-image: url(img/concrete_seamless65.png);
  background-repeat: repeat-x;
  white-space: nowrap;
}

.clock{
  font-size: 300%;
  display: inline-block;
}

.usa{
  color: rgba(0, 0, 0, 0.52);
  font-size: 150%;
  margin: 0%;
  line-height: 90%;
  display: inline;
  display: inline-block;
}

#usaText{
  font-size: 60%;
  margin: 0%;
  color: rgba(0, 0, 0, 0.25);
}

section .top{
  background-color: rgb(196, 196, 196);
}

section .bottom{
  background-color: rgb(214, 214, 214);
}

aside .left{
  flex: 20%;
}

aside .right{
  flex: 20%;
}
