body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin: 0%;
  background-image: url(img/concrete_seamless65.png);
  background-repeat: repeat-x;
  white-space: nowrap;
}

.clock{
  font-size: 300%;
  display: inline-block;
}

.timeSide{
  color: rgba(0, 0, 0, 0.52);
  font-size: 150%;
  margin: 0%;
  line-height: 90%;
  display: inline;
  display: inline-block;
  padding-right: 0.3%;
}

.timeText{
  font-size: 60%;
  margin: 0%;
  color: rgba(0, 0, 0, 0.25);
}

#usa{
  padding-left: 0.3%;
}
footer {

  position: relative;
  top: 90%;
  margin-left: 48%;
}
.icon {
  width: 4%;
  border-radius: 50%;
  position: relative;



}





.row {
  display: flex;
  flex-wrap: wrap;

}

.side {
  flex: 20%;
  background-color: #f1f1f1;

}



.main {
  flex: 60%;
  background-color: white;

}
@media screen and (max-width: 700px){
  .row ,.main{
    flex-direction: column;
  }

}
